
<div id="step3" class="panel panel-primary" style="display:none;">
  <div class="panel-heading"><h2 class="panel-title"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span><%= t("text.authenticate_complete") %></h2></div>
  
  <div class="panel panel-default content_inner pw_recipient">
    <div class="panel-heading" data-toggle="collapse" href="#collapse_password">
      <h4 class="panel-title"><%= t("text.recipient_click_to_display") %></h4>
    </div>
    <div id="collapse_password" class="panel-collapse collapse">
      <div class="panel-body"></div>
    </div>
  </div>
</div>