<%= javascript_tag do %>
  var mailCheckDomains = ['hotmail.com', 'gmail.com', 'aol.com', 'icloud.com', 'me.com', 'mac.com', 'docomo.ne.jp', 'ezweb.ne.jp', 'softbank.ne.jp', 'i.softbank.jp'];
  var mailCheckTopLevelDomains = ["com", "net", "org", "jp"];
  function mail_check(selector){
    $(selector).each(function(){
      var onclick_js = "$('[aria-describedby=' + $(this).parents('.popover').attr('id') + ']').val($(this).text()).popover('destroy'); return false;"
      $(this).blur(function(){
        $(this).mailcheck({
          domains: mailCheckDomains,
          topLevelDomains: mailCheckTopLevelDomains,
          suggested: function(element, suggestion) {
            $(element).popover({
              placement : "bottom",
              container: 'body',
              content: '<a href="#" onclick="' + onclick_js + '">' + suggestion.full + "</a>?",
              html: true
            }).popover("show");
          },
          empty: function(element) {
            $(element).popover("destroy");
          }
        });
      });
    });
  }
<% end %>
<%= javascript_include_tag "mailcheck.min" %>