/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 * require_tree .
 */

body{ padding: 20px; }
.header, .footer{ padding: 15px 0; }
.header{ margin-bottom: 19px; border-bottom: 1px solid #e5e5e5; }
.introduction li.list-group-item.text-left span.glyphicon{ margin-right: 5px;}
.introduction li.list-group-item.text-right span.glyphicon{ margin-left: 5px;}
small.password_char{ white-space:nowrap; margin-left:5px; }
.panel-title span{ font-size: 120%; margin-right: 10px; }
h4 span{ margin-right: 5px; }
#authentication{ margin: 10px 5%; }
.content_inner { margin: 20px 3%; }
#accordion .pw_response .panel-heading, .pw_recipient .panel-heading{ cursor: pointer; }
#paginate span{ margin-right: 10px; }
.pw_response .pw_response_content, .pw_recipient #collapse_password{ word-break: break-all; }
.pw_recipients input.email{ margin: 5px 0; }
